
@{
    ViewData["Title"] = "Main";
}

<h1>Main</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Feugiat nisl pretium fusce id velit ut. Sagittis vitae et leo duis ut diam. Orci sagittis eu volutpat odio. Lectus nulla at volutpat diam ut venenatis. Augue mauris augue neque gravida in fermentum et sollicitudin. Risus quis varius quam quisque id diam vel quam. Facilisi cras fermentum odio eu feugiat pretium nibh ipsum consequat. Pretium lectus quam id leo. Fringilla est ullamcorper eget nulla facilisi etiam dignissim diam. Dui vivamus arcu felis bibendum ut tristique et egestas. Fermentum iaculis eu non diam phasellus. Magna sit amet purus gravida quis. Vel orci porta non pulvinar neque laoreet. Auctor neque vitae tempus quam pellentesque.</p>